#appfooter {
    background: #203338;
}
#footerbg {
    background-color:#203338;
}
#footerbg
{
    position:absolute;
    width:100%;
    height:30%;
    text-align: center; 
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#logofooter
{
    display: inline-block;
    vertical-align: middle;
    height: 74px!important;
}
