.logo {
    padding: 0px;
    height: 75%;
    box-sizing: border-box;
    border-radius: 5px;
}

.logo img {
    height: 100%;
    margin-top: 5px;
}
.inner {
    top: 47px;
    position: relative;
}
