.navigation-item {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 50%;
    text-align: center;
    border-radius: 50px;
    
}

.navigation-item a {
    color: #B8C3C8;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 10px;
    height: 35px;
    border-radius: 50px;
    background-color: #f5c645;
    font-size: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
    color: #ffffff;
}
.desktop-only {
    position: relative;
    top: 470px;
    z-index: 30;
    left: -20px;
}

@media (max-width: 870px) {
    .desktop-only {
        left: -100px;
    }
}
@media (min-width: 870px) {
    .desktop-only {
        left: -20px;
    }
}
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}
@media (min-width: 768px) {
    .navigation-item {
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    
    .navigation-item a {
        color: #ffffff;
        height: 100%;
    }
    
    .navigation-item a:hover,
    .navigation-item a:active,
    .navigation-item a.active {
        background-color: #647175;
        /* border-bottom: 4px solid #EA7882; */
        color: #ffffff;
    }
}
